spring:
  application:
    name: lunchrecommender

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        use_sql_comments: true

server:
  port: 443
  ssl:
    enabled: true
    key-store: src/main/resources/bootsecurity.p12
    key-store-password: ${KEY_STORE_PASSWORD}
    key-store-type: PKCS12
    key-alias: bootsecurity

  mail:
    host: smtp.gmail.com
    port: 587   # SMTP 서버 포트 (예: TLS의 경우 일반적으로 587, SSL의 경우 465)
    properties:
      mail:
        smtp:
          auth: true      # SMTP 인증 사용 여부
          starttls:
            enable: true  # STARTTLS 사용 여부 (TLS 암호화)